@import '../../styles/vars';

.root {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 1 0 auto;
  width: 25%;
  padding: 10px;
}

@media screen and (max-width: $breakpoint-xl) {
  .item {
    width: 50%;
  }
}
