.hero {
  position: relative;
  height: 100vh;
}

.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inputWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 600px;
  transform: translate(-50%, -50%);
}
